<!-- start:selos -->
<div class="rodape__selos">
  <ul class="nav">
    <li class="list-inline-item">
      <a href="#">
        <img src="https://www.tre-sp.jus.br/admin-tre-sp/logo-eleicoes-tre-sp/voto-limpo/@@images/8daddddc-0cea-4a90-a2c4-b7cab6385437.png" width="48" height="55" alt="selo" />
        <span class="sr-only">Selo</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#">
        <img src="https://www.tre-sp.jus.br/admin-tre-sp/logo-eleicoes-tre-sp/selo-prata/@@images/99c825df-1872-4ba5-ba55-278b78245dbc.png" width="48" height="55" alt="selo" />
        <span class="sr-only">Selo</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#">
        <img src="https://www.tre-sp.jus.br/admin-tre-sp/logo-eleicoes-tre-sp/voto-limpo/@@images/8daddddc-0cea-4a90-a2c4-b7cab6385437.png" width="48" height="55" alt="selo" />
        <span class="sr-only">Selo</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#">
        <img src="https://www.tre-sp.jus.br/admin-tre-sp/logo-eleicoes-tre-sp/selo-prata/@@images/99c825df-1872-4ba5-ba55-278b78245dbc.png" width="48" height="55" alt="selo" />
        <span class="sr-only">Selo</span>
      </a>
    </li>
  </ul>
</div>
<!-- end:selos -->
