<section id="destaque-tema">
  <div class="destaque-tema__conteudo">
    <div class="destaque-tema__linha">
      <div class="destaque-tema-item">
        <div class="destaque-tema__card">
          <div class="destaque-tema__card-header"><img width="54" height="54" src="https://www.tse.jus.br/temas/imagens/temas-categorias/eleicoes.png" alt="Eleições" /><span>Eleições</span></div>
          <ul class="destaque-tema__list">
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="http://www.tse.jus.br/eleicoes/eleicoes-2020/eleicoes-2020">Eleições 2020</a></li>
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.justicaeleitoral.jus.br/tudo-sobre-as-eleicoes-perguntas-frequentes/">Perguntas frequentes</a></li>
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.tse.jus.br/eleicoes/estatisticas/estatisticas-eleitorais">Estatísticas eleitorais</a></li>
          </ul>
        </div>
      </div>
      <div class="destaque-tema-item">
        <div class="destaque-tema__card">
          <div class="destaque-tema__card-header"><img width="54" height="54" src="https://www.tse.jus.br/temas/imagens/temas-categorias/partidos.png" alt="Partidos" /><span>Partidos</span></div>
          <ul class="destaque-tema__list">
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://divulgaspca.tse.jus.br/#/divulga/home">Prestação de contas 2020</a></li>
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.tse.jus.br/partidos/contas-partidarias/contas-partidarias">Contas Partidárias</a></li>
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.tse.jus.br/partidos/filiacao-partidaria/filiacao-partidaria">Filiação Partidária</a></li>
          </ul>
        </div>
      </div>
      <div class="destaque-tema-item">
        <div class="destaque-tema__card">
          <div class="destaque-tema__card-header"><img width="54" height="54" src="https://www.tse.jus.br/temas/imagens/temas-categorias/sessao.png" alt="Sessões" /><span>Sessões</span></div>
          <ul class="destaque-tema__list">
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.tse.jus.br/servicos-judiciais/sessoes-de-julgamento/pautas-de-julgamento">Pauta</a></li>
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.tse.jus.br/servicos-judiciais/sessoes-de-julgamento/sessao-plenaria-on-line-1">Sessão Plenária ao vivo</a></li>
            <li class="destaque-tema__list-item"><a class="destaque-temas__lista_link" href="https://www.tse.jus.br/servicos-judiciais/processos/processos-julgados">Processos Julgados</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
