<!-- Inicio Full Cards-->
<section class="full-cards" id="full-cards">
  <h2 class="sr-only">Assuntos referente a Justiça Eleitoral</h2>
  <div class="owl-carousel owl-theme cards-container" id="full-cards-owl-carousel">
    <div class="item card-justica-eleitoral">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/conheca-a-justica-eleitoral/@@images/95f5eb0f-a6f0-4bfa-833f-6d0778a166e6.png" alt="Portal da Justiça Eleitoral" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/" class="btn btn-primary stretched-link"><h3 class="card-descricao">Portal da Justiça Eleitoral</h3></a>
      </div>
    </div>
    <div class="item card-regulariza-titulo">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/como-regularizar-seu-titulo/@@images/1f8551de-9eb5-4796-8b6c-712483ddf400.png" alt="Tudo sobre o Título Eleitoral" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/titulo-eleitoral/" class="btn btn-primary stretched-link"><h3 class="card-descricao">Tudo sobre o Título Eleitoral</h3></a>
      </div>
    </div>
    <div class="item card-respostas-biometria">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/participa-mulher/@@images/3344b4fb-3af7-488d-b4af-fe078da50ebd.png" alt="#Participa Mulher" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/participa-mulher/" class="btn btn-primary stretched-link"><h3 class="card-descricao">#Participa Mulher</h3></a>
      </div>
    </div>
    <div class="item card-justica-eleitoral">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/fato-ou-boato/@@images/c41471f2-372d-4f2a-8b34-1edcb6c14b6d.png" alt="Fato ou Boato?" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/fato-ou-boato/" class="btn btn-primary stretched-link"><h3 class="card-descricao">Fato ou Boato?</h3></a>
      </div>
    </div>
    <div class="item card-respostas-biometria">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/perguntas-e-respostas-sobre-a-biometria/@@images/a1c919a9-a989-4bce-bda3-26546b0da7c9.png" alt="Biometria em todo o país" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/biometria/" class="btn btn-primary stretched-link"><h3 class="card-descricao">Biometria em todo o país</h3></a>
      </div>
    </div>
    <div class="item card-justica-eleitoral">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/enfrentamento-a-desinformacao/@@images/bae7a335-f918-45e0-9c1a-90628c93ddef.png" alt="Enfrentamento à desinformação" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/desinformacao" class="btn btn-primary stretched-link"><h3 class="card-descricao">Enfrentamento à desinformação</h3></a>
      </div>
    </div>
    <div class="item card-regulariza-titulo">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/teste-publico-de-seguranca-tps-2021/@@images/ef87cdd1-e4b9-4a93-b180-ec77f1639e90.png" alt="Teste Público de Segurança - TPS 2021" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/tps/" class="btn btn-primary stretched-link"><h3 class="card-descricao">Teste Público de Segurança - TPS 2021</h3></a>
      </div>
    </div>
    <div class="item card-seguranca-urna">
      <div class="card-imagem"><img src="https://www.tse.jus.br/admin-tse/faixa-de-cards/seguranca-da-urna-eletronica/@@images/e17c1488-cfe0-444f-accd-cffb74377618.png" alt="Segurança do Processo Eleitoral" /></div>
      <div class="full-card-titulo">
        <a href="http://www.justicaeleitoral.jus.br/spe/" class="btn btn-primary stretched-link"><h3 class="card-descricao">Segurança do Processo Eleitoral</h3></a>
      </div>
    </div>
  </div>
</section>
