<!-- start:menu -->
<div class="menu">
  <div class="menu-container">
    <div class="menu-logo">
      <a href="index.html">
        <img src="images/logo.png" alt="" />
      </a>
    </div>
    <div class="menu <% if (active === 'home') { %> active <% } %>">
      <a href="index.html">
        <i class="fa fa-home"></i>
        <span>Home</span>
      </a>
    </div>
  </div>
</div>
<!-- end:menu -->
